body {
    width: 100%;
    background: url("https://source.unsplash.com/1920x1080/?food") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.loading {
    max-width: 150px;
}

.loadingRest {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    padding: 10px;
}
.jumbotron {
    background-image: url("../images/background.png");
    background-position: center;
    height: 100vh;
}


@media screen and (max-width: 1300px) {
.jumbotron {
    background-image: url("../images/background-smaller.png");
    background-position: center;
    height: 100vh;
}
}

@media screen and (max-width: 860px) {
.jumbotron {
    background-image: url("../images/background-smallest.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
}


@media screen and (max-width: 560px) {
.jumbotron {
    background-image: url("../images/background-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 333px;
}
}
a.nav-item.nav-link.active {
    text-align: center;
}

.logo-image{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.reviews {
    font-size: 1.1em;
}

.logo{
    height: 40px;
}
.foodtronav{
    background-color: #fff;
    opacity: 0.9;
    background-blend-mode: multiply;

}
.footer{
    color: #fff;
}

/* footer */
a.navbar-brand {
    text-align: center;
    font-size: 10px;
    
}

/* carousel */
.carousel-inner{
    height: 150px;
}
@media screen and (max-width: 767px){
.carousel-inner{
    height: auto;
}
}

.arrow{
 display: block;
 max-width: 75px;
 margin-left: auto;
 margin-right: auto;
 vertical-align: bottom;
}

.arrow-container{
    display: block;
    margin-top: 75vh;
}

.main-logo{
    max-width: 65%;
}


.userImage{
    max-width: 300px;
}

#uploadedImg{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#searchingRest{
    text-align: center;
}

#buddyResults{
    text-align: center;
}
