html, body {
}

.jumbotron{

}

a.nav-item.nav-link.active {
    text-align: center;
}

.logo-image{
    text-align: center;
    margin-left: 60px;
    margin-right: 160px;
    padding: 30px;
}


.container {
}

/* footer */
a.navbar-brand {
    text-align: center;
    font-size: 10px;
    
}

.arrow{
    padding-top: 40px;
    font-size: 90px;
    text-align: center;
}

#userName {
    width: 25%;
}

#foodPref {
    width: 30%;
}

#timePref {
    width: 30%;
}
#userLoc {
    width: 35%;
}

